.container_menu-title {

 color: white;
 font-size: 135px;
 font-weight: 600;
 margin-bottom: 15px;
 margin-top: 20px;
display: flex;
flex-direction: column;


align-items: center;
justify-content: center;
box-shadow: 5px 5px 10px rgba(0.5, 0.5, 0.5, 0.5);
background-repeat: no-repeat;
text-shadow: 2caps 2px 4px rgba(23, 19, 19, 0.5);;
-webkit-text-stroke: 1px black;




}

.container_menu-title h1 {

    font-size: 200px;
    color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url('https://i.pinimg.com/originals/86/fe/89/86fe8981b049d62502fed2db5f092ed7.jpg');
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://i.pinimg.com/originals/86/fe/89/86fe8981b049d62502fed2db5f092ed7.jpg');
    background-color: #111111;
    background-position: center;
    box-shadow: 25px 25px 30px rgba(0.5, 0.5, 0.5, 0.5);
    background-size: contain;
   
    background-repeat: no-repeat;
    text-shadow: 2caps 2px 2px rgba(23, 19, 19, 0.5);;
    -webkit-text-size-adjust: 3.5px black;

      
};

