@media screen and (max-width: 750px) {
    .container__small-card {
        width: 110%;
        margin-bottom: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 5%;
    }
    .container__small-card > img {
        width: 80%;
        height: auto;
        min-width: 200px; 
    }
    .container__small-card h2 {
        font-size: 18px;
    }
    .container__small-card p {
        font-size: 18px;
    }
    .container__small-card a {
        font-size: 18px;
    }
    
}


